html { 
  background: url(https://upload.wikimedia.org/wikipedia/commons/8/8e/Jaffa_IL_WV.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-doc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 50px;
  align-items: center;
  background: 6c757d;
  height: 100px;
  border: 5px solid black;
  width: 100%;
  top: 0;
  left; 0;
  opacity: 0.65;
  width: 100%; 
  position: fixed;
}

.nav-bar a {
  text-decoration: none;
  color: #2F2D2E;
}

a:hover {
  color: blue;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1000px;
}

h1 {
  display: flex;
  font-size: 300px;
  opacity: 0.65;
}

h2 {
  font-size: 100px;
  margin: -150px;
  opacity: 0.65;
}

h3 {
  font-size: 50px;
  margin: 150px;
  opacity: 0.65;
}

.about-me {
  display: flex;
  justify-content: center;
  opacity: 0.65;
  flex-direction: column;
  
}

h4 {
  display: flex;
  font-size: 100px;
  align-items: center;
  justify-content: center;
  opacity:0.65;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  font-size: 30px;
  font-family: Helvetica;
  display: flex;
  align-items: center;
  border: 5px solid black;
  margin: auto;
  width: 40%;
  background-color: grey;
  padding: 30px;
  opacity:0.65;
}

img {
  margin-bottom: 50px;
  margin-top: -70px;
}

.experience {
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column {
  float: left;
  width: 33.33%;
  font-size: 50px;
}

.column-one {
  float: left;
  width: 33.33%;
  font-size: 50px;
}

.column-two {
  float: left;
  width: 33.33%;
  font-size: 30px;
}

li-one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

ul {
  font-size: 20px;
  list-style-type: circle;
  margin-left: 30px;
  line-height: 1.25em;
  list-style-position: inside;
}
